%tr
  %td.text-right
    = "#{ Attribute::RELATIONS[attribute.first][:title] }:"
  %td
    - if my_page?
      = text_field_tag "profile_attributes[#{ attribute.first }]#{ '[]' if Attribute::RELATIONS[attribute.first][:multiple] }", attribute.last, class: 'form-control'
    - else
      %strong= attribute.last
