- key, value = attribute

- if value.is_a? Array
  - value.each_with_index do |v, i|
    = render 'attribute', attribute: [key, v], show_plus: (i == value.size - 1), hide_label: (i > 0)
- else

  %tr
    %td.text-right
      - unless defined?(hide_label) && hide_label
        = "#{ Attribute::RELATIONS[key][:title] }:"
    - if my_page?
      %td
        = text_field_tag "profile_attributes[#{ key }]#{ '[]' if Attribute::RELATIONS[key][:multiple] }", value, class: 'form-control'
      %td
        - if defined?(show_plus) && show_plus
          = link_to js_nothing, class: 'add-profile-attribute' do
            %span.glyphicon.glyphicon-plus
    - else
      %td
        %strong= value
