- if current_user.requested_friendship_by?(user)
  = link_to 'Подтвердить дружбу', apply_friendship_user_path(user), class: [:btn, 'btn-primary'], method: :post
  = link_to 'Не добавлять в друзья', reject_friendship_user_path(user), class: [:btn, 'btn-danger'], method: :post
- elsif current_user.friend?(user)
  = link_to 'Удалить из друзей', reject_friendship_user_path(user), class: [:btn, 'btn-danger'], method: :post
- elsif current_user.suggested_friendship_for?(user)
  = link_to 'Отменить предложение дружбы', reject_friendship_user_path(user), class: [:btn, 'btn-danger'], method: :post
- else
  = link_to 'Предложить дружбу', request_friendship_user_path(user), class: [:btn, 'btn-primary'], method: :post
