.row
  - if message.end_node == current_user
    .col-md-4
    .col-md-4= message.props[:body]
    .col-md-4
      = link_to current_user.any_name, current_user
      = "#{ time_ago_in_words Time.parse(message.props[:created_at]) } назад"
  - else
    .col-md-4
      = link_to message.end_node.any_name, message.end_node
      = "#{ time_ago_in_words Time.parse(message.props[:created_at]) } назад"
    .col-md-8= message.props[:body]
