.row
  - if message.end_node == current_user
    .col-md-offset-4.col-md-4
      %blockquote.blockquote-reverse= link_to_if @user.blank?, message.props[:body], messages_user_path(message.start_node.uuid)
    .col-md-4.text-right
      = "#{ time_ago_in_words Time.parse(message.props[:created_at]) } назад"
      = link_to "#{ current_user.any_name } (Вы)", current_user
  - else
    .col-md-4.text-left
      = link_to message.end_node.any_name, message.end_node
      = "#{ time_ago_in_words Time.parse(message.props[:created_at]) } назад"
    .col-md-4
      %blockquote= link_to_if @user.blank?, message.props[:body], messages_user_path(message.end_node.uuid)
