.row
  - my_message = message.end_node != current_user
  - user = my_message ? message.end_node : message.start_node

  %blockquote{ class: "#{ 'blockquote-reverse' if my_message }"}
    %p
      - if @user.blank?
        = link_to messages_user_path(user.uuid) do
          - if message.unread
            %strong= message.body
          - else
            = message.body
      - else
        = message.body

    %footer
      - if my_message
        %cite= "#{ time_ago_in_words(message.created_at) } назад"
        = link_to "#{ current_user.any_name } (Вы)", current_user
      - else
        = link_to user.any_name, user
        %cite= "#{ time_ago_in_words(message.created_at) } назад"
