- my_friends = current_user == @user
.text-center
  - if @user.friend_requests.any?
    %h1= "Хотят дружить с #{ my_friends ? 'вами' : " пользователем #{ @user.any_name }" }:"
    .row
      = render partial: 'friend', collection: @user.friend_requests.to_a, as: :user

  - if @user.friends.any?
    %h1= my_friends ? 'Ваши друзья:' : "Друзья пользователя #{ @user.any_name }:"
    .row
      = render partial: 'friend', collection: @user.friends.to_a, as: :user

  - if @user.friend_suggestions.any?
    %h1= "#{ my_friends ? 'Вы хотите' : "#{ @user.any_name } хочет" } дружить с:"
    .row
      = render partial: 'friend', collection: @user.friend_suggestions.to_a, as: :user
