
%h1.text-center= my_page? ? 'Ваш профиль' : "Профиль пользователя #{ @user.any_name }"

- if my_page?
  = form_tag update_profile_attributes_users_path do
    = render 'attributes'
- else
  = render 'attributes'
  .text-center.margin-0-5
    = render 'friend_links', user: @user
    = link_to messages_user_path(@user), class: [:btn, 'btn-info'] do
      %span.glyphicon.glyphicon-envelope
      Написать сообщение
    = link_to friends_path(@user), class: [:btn, 'btn-success'] do
      %span.glyphicon.glyphicon-heart
      Друзья
    = link_to posts_path(@user), class: [:btn, 'btn-warning'] do
      %span.glyphicon.glyphicon-file
      Статьи
