%h1.text-center= @user == current_user ? 'Ваш профиль' : "Профиль пользователя #{ @user.any_name }"

.row
  .col-md-6.col-md-offset-3
    %table.table.table-stripped#attributes-list
      %tbody
        = render partial: 'attribute', collection: Attribute::RELATIONS.keys.map { |rel_type| @user.rels(type: rel_type) }.flatten

.text-center
  - if @user == current_user
    %button.btn.btn-primary{ type: :button, data: { toggle: :modal, target: '#add-attribute' } } Добавить характеристику

    .modal.fade#add-attribute{ tabindex: -1, role: :dialog, 'aria-labelledby' => 'add-attribute-label', 'aria-hidden' => true }
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{ type: :button, data: { dismiss: :modal } }
              %span{ 'aria-hidden' => true } &times;
              %span.sr-only Close
            %h4.modal-title#add-attribute-label Добавить характеристику
          .modal-body
            .form-group
              = select_tag :type, undefined_attribute_types_html, class: 'form-control', id: 'attribute-type'
            .form-group
              = text_field_tag :value, '', class: 'form-control', id: 'attribute-value'
          .modal-footer
            %button.btn.btn-default{ type: :button, data: { dismiss: :modal } } Отмена
            %button.btn.btn-primary#add-attribute{ type: :button } Добавить
  - else
    - if current_user.requested_friendship_by?(@user)
      = link_to 'Добавить в друзья', apply_friendship_user_path(@user), class: [:btn, 'btn-primary'], method: :post
    - elsif current_user.friend?(@user)
      = link_to 'Удалить из друзей', reject_friendship_user_path(@user), class: [:btn, 'btn-danger'], method: :post
    - elsif current_user.suggested_friendship_for?(@user)
      = link_to 'Отменить заявку на добавление в друзья', reject_friendship_user_path(@user), class: [:btn, 'btn-danger'], method: :post
    - else
      = link_to 'Предложить дружбу', request_friendship_user_path(@user), class: [:btn, 'btn-primary'], method: :post

    = link_to 'Написать сообщение', messages_user_path(@user), class: [:btn, 'btn-info']
    = link_to 'Друзья', friends_path(@user), class: [:btn, 'btn-success']
    = link_to 'Статьи', posts_path(id: @user.uuid), class: [:btn, 'btn-warning']
