.row
  .col-sm-8.col-sm-offset-2.text-center
    %h1= @post.persisted? ? 'Редактирование статьи' : 'Создание новой статьи'
    = form_for @post, html: { class: 'form-horizontal' } do |f|
      = render 'shared/form_errors', object: f.object

      - errors = f.object.errors

      .form-group{ class: "#{ 'has-error' if errors[:title].present? }" }
        = f.text_field :title, class: 'form-control', placeholder: "#{ errors[:title].present? ? 'Название статьи не может быть пустым' : 'Название' }"

      .form-group{ class: "#{ 'has-error' if errors[:body].present? }" }
        = f.text_area :body, class: 'form-control', rows: 15, placeholder: "#{ errors[:body].present? ? 'Текст статьи не может быть пустым' : 'Текст' }"

      .form-group
        %table.table.table-hover.without-borders
          - tag_values = f.object.tag_values
          - tag_values << nil if tag_values.empty?
          - tag_values.each_with_index do |tag_value, i|
            %tr
              %td.text-right
                - if i == 0
                  Тэги:
              %td
                = autocomplete_field_tag "post[tag_values][]", tag_value, autocomplete_attribute_path, class: 'form-control'
              %td
                - if i == (f.object.tag_values.size - 1)
                  = link_to js_nothing, class: 'add-attribute' do
                    %span.glyphicon.glyphicon-plus

      .form-group
        = f.submit "#{ f.object.persisted? ? 'Обновить' : 'Создать' }", class: ['btn', 'btn-primary']
