%tr
  %td
    = link_to post do
      = post.title
      = link_to "(#{ post.likes_count })", js_nothing, title: "Статья понравилась #{ post.likes_count } пользователям"
  - if post.creator == current_user
    %td
      = link_to 'Редактировать', edit_post_path(post), class: [:btn, 'btn-warning']
